<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the User Account!</h1>
    <div id="paymentForm">
      <label for="subscriptionType">Choose Subscription Type:</label>
      <select id="subscriptionType">
        <option value="month">Monthly Subscription</option>
        <option value="year">Yearly Subscription</option>
      </select>

      <button id="payButton">Pay</button>
    </div>
    <p id="paymentMessage"></p>
  </div>

  <script src="/static/script2.js"></script>
</body>
</html>
