DB_SERVICE=postgresql
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432


BATCH_SIZE=100
#Delay between checks of new data in Postgres
LOAD_DELAY=100

# the maximum number of attempts to upload data in the case
# when the date of the last record of the previous iteration coincides
# with the date of the new iteration
MAX_MODIFIED_RETRIES_COUNT=5

LOG_FORMAT=%(asctime)s:%(levelname)s:%(name)s:%(message)s

REDIS_CACHE_ENABLED=1
CACHE_EXPIRE=300
REDIS_HOST=redis
REDIS_PORT=6379
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_URL=http://elasticsearch:9200
PROJECT_NAME=theatre
FASTAPI_URL=http://nginx
PAGE_SIZE=5

# CRITICAL 50
# ERROR 40
# WARNING 30
# INFO 20
# DEBUG 10
# NOTSET 0
LOG_LEVEL=10