fastapi==0.94
python-dotenv==0.21.1
uvicorn==0.22.0
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"
backoff==2.2.1
requests==2.31.0
aiokafka==0.8.0
orjson==3.8.7
redis==4.4.2
aiohttp==3.8.4
pydantic==1.10.6
